In [ ]:
#### data value changes ####
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
from sklearn.preprocessing import MinMaxScaler
df = pd.read_csv('south-korean-pollution-data.csv')
print(df)

       Unnamed: 0       date  pm25  pm10  o3  no2  so2  co      Lat      Long  \
0               0   2022/2/1   112    31  35    2    1   4  38.2089  127.9495
1               1   2022/2/2    92    21  35    2    1   0  38.2089  127.9495
2               2   2022/2/3    60    20  35    1    1   4  38.2089  127.9495
3               3   2022/2/4    51    27  33    1    1   4  38.2089  127.9495
4               4   2022/2/5    57    24  27    2    1   5  38.2089  127.9495
...           ...        ...   ...   ...  ..  ...  ...  ..      ...       ...
34525       34525  2022/2/11    49    43  46    3    1   4  37.5082  130.8217
34526       34526  2022/2/12   102    24  39    2    0   3  37.5082  130.8217
34527       34527  2022/2/13    59    15  40    2    0   0  37.5082  130.8217
34528       34528  2022/2/14    41     0   0    0    0   0  37.5082  130.8217
34529       34529  2022/1/31     0    19  40    2    1   3  37.5082  130.8217

                City   District       Country
0      Bangsan-Myeon    Gangwon   South Korea
1      Bangsan-Myeon    Gangwon   South Korea
2      Bangsan-Myeon    Gangwon   South Korea
3      Bangsan-Myeon    Gangwon   South Korea
4      Bangsan-Myeon    Gangwon   South Korea
...              ...        ...           ...
34525       Taeha-Ri  Gyeongbuk   South Korea
34526       Taeha-Ri  Gyeongbuk   South Korea
34527       Taeha-Ri  Gyeongbuk   South Korea
34528       Taeha-Ri  Gyeongbuk   South Korea
34529       Taeha-Ri  Gyeongbuk   South Korea

[34530 rows x 13 columns]

In [ ]:
#### 1.Cleaning dirty data

## missing data가 있는 행 제거
# 우리가 임의로 입력해야하니까 replace보단 제거로 가는 게 좋을듯!
df.dropna(inplace=True)
df_clean = df.copy()
print(df_clean)

       Unnamed: 0       date  pm25  pm10  o3  no2  so2  co      Lat      Long  \
0               0   2022/2/1   112    31  35    2    1   4  38.2089  127.9495
1               1   2022/2/2    92    21  35    2    1   0  38.2089  127.9495
2               2   2022/2/3    60    20  35    1    1   4  38.2089  127.9495
3               3   2022/2/4    51    27  33    1    1   4  38.2089  127.9495
4               4   2022/2/5    57    24  27    2    1   5  38.2089  127.9495
...           ...        ...   ...   ...  ..  ...  ...  ..      ...       ...
34525       34525  2022/2/11    49    43  46    3    1   4  37.5082  130.8217
34526       34526  2022/2/12   102    24  39    2    0   3  37.5082  130.8217
34527       34527  2022/2/13    59    15  40    2    0   0  37.5082  130.8217
34528       34528  2022/2/14    41     0   0    0    0   0  37.5082  130.8217
34529       34529  2022/1/31     0    19  40    2    1   3  37.5082  130.8217

                City   District       Country
0      Bangsan-Myeon    Gangwon   South Korea
1      Bangsan-Myeon    Gangwon   South Korea
2      Bangsan-Myeon    Gangwon   South Korea
3      Bangsan-Myeon    Gangwon   South Korea
4      Bangsan-Myeon    Gangwon   South Korea
...              ...        ...           ...
34525       Taeha-Ri  Gyeongbuk   South Korea
34526       Taeha-Ri  Gyeongbuk   South Korea
34527       Taeha-Ri  Gyeongbuk   South Korea
34528       Taeha-Ri  Gyeongbuk   South Korea
34529       Taeha-Ri  Gyeongbuk   South Korea

[34530 rows x 13 columns]

In [ ]:
##wrong data가 있는 행 제거

# feature 별로 data type 확인
data_types = df_clean.dtypes

# type과 맞지 않은 값을 가지고 있는 행 제거
for column in df_clean.columns:
    if data_types[column] == 'int64':
        df_clean = df_clean[df_clean[column].apply(lambda x: isinstance(x, int))]
    elif data_types[column] == 'float64':
        df_clean = df_clean[df_clean[column].apply(lambda x: isinstance(x, float))]
    elif data_types[column] == 'object':
        df_clean = df_clean[df_clean[column].apply(lambda x: isinstance(x, str))]

print(df_clean)

# unusable data를 지우는 과정의 경우 data reduction이랑 같기 때문에 제외하고 작성함

       Unnamed: 0       date  pm25  pm10  o3  no2  so2  co      Lat      Long  \
0               0   2022/2/1   112    31  35    2    1   4  38.2089  127.9495
1               1   2022/2/2    92    21  35    2    1   0  38.2089  127.9495
2               2   2022/2/3    60    20  35    1    1   4  38.2089  127.9495
3               3   2022/2/4    51    27  33    1    1   4  38.2089  127.9495
4               4   2022/2/5    57    24  27    2    1   5  38.2089  127.9495
...           ...        ...   ...   ...  ..  ...  ...  ..      ...       ...
34525       34525  2022/2/11    49    43  46    3    1   4  37.5082  130.8217
34526       34526  2022/2/12   102    24  39    2    0   3  37.5082  130.8217
34527       34527  2022/2/13    59    15  40    2    0   0  37.5082  130.8217
34528       34528  2022/2/14    41     0   0    0    0   0  37.5082  130.8217
34529       34529  2022/1/31     0    19  40    2    1   3  37.5082  130.8217

                City   District       Country
0      Bangsan-Myeon    Gangwon   South Korea
1      Bangsan-Myeon    Gangwon   South Korea
2      Bangsan-Myeon    Gangwon   South Korea
3      Bangsan-Myeon    Gangwon   South Korea
4      Bangsan-Myeon    Gangwon   South Korea
...              ...        ...           ...
34525       Taeha-Ri  Gyeongbuk   South Korea
34526       Taeha-Ri  Gyeongbuk   South Korea
34527       Taeha-Ri  Gyeongbuk   South Korea
34528       Taeha-Ri  Gyeongbuk   South Korea
34529       Taeha-Ri  Gyeongbuk   South Korea

[34530 rows x 13 columns]

In [ ]:
##outlier가 있는 행 제거

pollution_features = ['pm25', 'pm10', 'o3', 'no2', 'so2', 'co']

# outlier 제거 함수 정의
def remove_outliers(df_clean, feature):
    # Z-score 계산
    z_scores = (df_clean[feature] - df_clean[feature].mean()) / df_clean[feature].std()
    # Z-score의 절대값이 3보다 큰 행 선택
    outlier_indices = np.abs(z_scores) > 3
    # 이상치를 가지고 있는 행 제외
    df_clean = df_clean[~outlier_indices]
    return df_clean

# 각 feature에 대해 outlier 제거
for feature in pollution_features:
    df_clean = remove_outliers(df_clean, feature)

print(df_clean)

       Unnamed: 0       date  pm25  pm10  o3  no2  so2  co      Lat      Long  \
0               0   2022/2/1   112    31  35    2    1   4  38.2089  127.9495
1               1   2022/2/2    92    21  35    2    1   0  38.2089  127.9495
2               2   2022/2/3    60    20  35    1    1   4  38.2089  127.9495
3               3   2022/2/4    51    27  33    1    1   4  38.2089  127.9495
4               4   2022/2/5    57    24  27    2    1   5  38.2089  127.9495
...           ...        ...   ...   ...  ..  ...  ...  ..      ...       ...
34525       34525  2022/2/11    49    43  46    3    1   4  37.5082  130.8217
34526       34526  2022/2/12   102    24  39    2    0   3  37.5082  130.8217
34527       34527  2022/2/13    59    15  40    2    0   0  37.5082  130.8217
34528       34528  2022/2/14    41     0   0    0    0   0  37.5082  130.8217
34529       34529  2022/1/31     0    19  40    2    1   3  37.5082  130.8217

                City   District       Country
0      Bangsan-Myeon    Gangwon   South Korea
1      Bangsan-Myeon    Gangwon   South Korea
2      Bangsan-Myeon    Gangwon   South Korea
3      Bangsan-Myeon    Gangwon   South Korea
4      Bangsan-Myeon    Gangwon   South Korea
...              ...        ...           ...
34525       Taeha-Ri  Gyeongbuk   South Korea
34526       Taeha-Ri  Gyeongbuk   South Korea
34527       Taeha-Ri  Gyeongbuk   South Korea
34528       Taeha-Ri  Gyeongbuk   South Korea
34529       Taeha-Ri  Gyeongbuk   South Korea

[32969 rows x 13 columns]

In [ ]:
#### 2.Data discretization

# 데이터 이산화 함수 정의
def discretize_feature(df_clean, feature, num_bins):
    labels = range(1, num_bins)
    df_clean[feature] = pd.qcut(df_clean[feature], bins, labels=False)
    return df_clean

# 각 feature에 대해 데이터 이산화 수행-> 5개 단계로 나눔
for feature in pollution_features:
    df_clean[feature] = pd.cut(df_clean[feature], bins=5, labels=False)

# 수정된 데이터프레임 출력 (선택 사항)
print(df_clean)

       Unnamed: 0       date  pm25  pm10  o3  no2  so2  co      Lat      Long  \
0               0   2022/2/1     3     1   2    0    0   1  38.2089  127.9495
1               1   2022/2/2     2     1   2    0    0   0  38.2089  127.9495
2               2   2022/2/3     1     1   2    0    0   1  38.2089  127.9495
3               3   2022/2/4     1     1   1    0    0   1  38.2089  127.9495
4               4   2022/2/5     1     1   1    0    0   1  38.2089  127.9495
...           ...        ...   ...   ...  ..  ...  ...  ..      ...       ...
34525       34525  2022/2/11     1     2   2    0    0   1  37.5082  130.8217
34526       34526  2022/2/12     2     1   2    0    0   1  37.5082  130.8217
34527       34527  2022/2/13     1     0   2    0    0   0  37.5082  130.8217
34528       34528  2022/2/14     1     0   0    0    0   0  37.5082  130.8217
34529       34529  2022/1/31     0     0   2    0    0   1  37.5082  130.8217

                City   District       Country
0      Bangsan-Myeon    Gangwon   South Korea
1      Bangsan-Myeon    Gangwon   South Korea
2      Bangsan-Myeon    Gangwon   South Korea
3      Bangsan-Myeon    Gangwon   South Korea
4      Bangsan-Myeon    Gangwon   South Korea
...              ...        ...           ...
34525       Taeha-Ri  Gyeongbuk   South Korea
34526       Taeha-Ri  Gyeongbuk   South Korea
34527       Taeha-Ri  Gyeongbuk   South Korea
34528       Taeha-Ri  Gyeongbuk   South Korea
34529       Taeha-Ri  Gyeongbuk   South Korea

[32969 rows x 13 columns]

In [ ]:
#### 3.Data scaling ( Min-max scaling )

# Min-Max Scaling 객체 생성
scaler = MinMaxScaler()
# 각 feature에 대해 Min-Max Scaling 수행
df_clean[pollution_features] = scaler.fit_transform(df_clean[pollution_features])

# 수정된 데이터프레임 출력 (선택 사항)
print(df_clean)

       Unnamed: 0       date  pm25  pm10    o3  no2  so2    co      Lat  \
0               0   2022/2/1  0.75  0.25  0.50  0.0  0.0  0.25  38.2089
1               1   2022/2/2  0.50  0.25  0.50  0.0  0.0  0.00  38.2089
2               2   2022/2/3  0.25  0.25  0.50  0.0  0.0  0.25  38.2089
3               3   2022/2/4  0.25  0.25  0.25  0.0  0.0  0.25  38.2089
4               4   2022/2/5  0.25  0.25  0.25  0.0  0.0  0.25  38.2089
...           ...        ...   ...   ...   ...  ...  ...   ...      ...
34525       34525  2022/2/11  0.25  0.50  0.50  0.0  0.0  0.25  37.5082
34526       34526  2022/2/12  0.50  0.25  0.50  0.0  0.0  0.25  37.5082
34527       34527  2022/2/13  0.25  0.00  0.50  0.0  0.0  0.00  37.5082
34528       34528  2022/2/14  0.25  0.00  0.00  0.0  0.0  0.00  37.5082
34529       34529  2022/1/31  0.00  0.00  0.50  0.0  0.0  0.25  37.5082

           Long           City   District       Country
0      127.9495  Bangsan-Myeon    Gangwon   South Korea
1      127.9495  Bangsan-Myeon    Gangwon   South Korea
2      127.9495  Bangsan-Myeon    Gangwon   South Korea
3      127.9495  Bangsan-Myeon    Gangwon   South Korea
4      127.9495  Bangsan-Myeon    Gangwon   South Korea
...         ...            ...        ...           ...
34525  130.8217       Taeha-Ri  Gyeongbuk   South Korea
34526  130.8217       Taeha-Ri  Gyeongbuk   South Korea
34527  130.8217       Taeha-Ri  Gyeongbuk   South Korea
34528  130.8217       Taeha-Ri  Gyeongbuk   South Korea
34529  130.8217       Taeha-Ri  Gyeongbuk   South Korea

[32969 rows x 13 columns]

In [ ]:
#### 4.Data encoding ( one-hot encoding )

categorial_features = ['City', 'District', 'Country']

# 원-핫 인코딩 수행
df_clean = pd.get_dummies(df_clean, columns = categorial_features)

print(df_clean)

df_clean.to_csv('test.csv', index=False)
df_clean.to_excel('test.xlsx', index=False)

       Unnamed: 0       date  pm25  pm10    o3  no2  so2    co      Lat  \
0               0   2022/2/1  0.75  0.25  0.50  0.0  0.0  0.25  38.2089
1               1   2022/2/2  0.50  0.25  0.50  0.0  0.0  0.00  38.2089
2               2   2022/2/3  0.25  0.25  0.50  0.0  0.0  0.25  38.2089
3               3   2022/2/4  0.25  0.25  0.25  0.0  0.0  0.25  38.2089
4               4   2022/2/5  0.25  0.25  0.25  0.0  0.0  0.25  38.2089
...           ...        ...   ...   ...   ...  ...  ...   ...      ...
34525       34525  2022/2/11  0.25  0.50  0.50  0.0  0.0  0.25  37.5082
34526       34526  2022/2/12  0.50  0.25  0.50  0.0  0.0  0.25  37.5082
34527       34527  2022/2/13  0.25  0.00  0.50  0.0  0.0  0.00  37.5082
34528       34528  2022/2/14  0.25  0.00  0.00  0.0  0.0  0.00  37.5082
34529       34529  2022/1/31  0.00  0.00  0.50  0.0  0.0  0.25  37.5082

           Long  ...  District_Jeonnam  District_Nam-Gu  District_Paju-Si  \
0      127.9495  ...                 0                0                 0
1      127.9495  ...                 0                0                 0
2      127.9495  ...                 0                0                 0
3      127.9495  ...                 0                0                 0
4      127.9495  ...                 0                0                 0
...         ...  ...               ...              ...               ...
34525  130.8217  ...                 0                0                 0
34526  130.8217  ...                 0                0                 0
34527  130.8217  ...                 0                0                 0
34528  130.8217  ...                 0                0                 0
34529  130.8217  ...                 0                0                 0

       District_Seo-Gu  District_Seoul  Country_ Daejeon  Country_ Gangwon  \
0                    0               0                 0                 0
1                    0               0                 0                 0
2                    0               0                 0                 0
3                    0               0                 0                 0
4                    0               0                 0                 0
...                ...             ...               ...               ...
34525                0               0                 0                 0
34526                0               0                 0                 0
34527                0               0                 0                 0
34528                0               0                 0                 0
34529                0               0                 0                 0

       Country_ Gwangju  Country_ Gyeonggi  Country_ South Korea
0                     0                  0                     1
1                     0                  0                     1
2                     0                  0                     1
3                     0                  0                     1
4                     0                  0                     1
...                 ...                ...                   ...
34525                 0                  0                     1
34526                 0                  0                     1
34527                 0                  0                     1
34528                 0                  0                     1
34529                 0                  0                     1

[32969 rows x 47 columns]